:root {
    --h1-size: 40px;
    --h2-size: 36px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    color: #ffffff;
}

.gradient-background {
    background: linear-gradient(90deg,
    rgba(40, 4, 61, 0.7539390756302521) 0%, 
    rgb(34 5 64 / 60%) 19%,
    rgba(61, 3, 105, 0.7399334733893557) 41%,
    rgb(74 17 171 / 65%) 74%, rgba(2, 3, 32, 0.773546918767507) 100%);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 1333px;
}

.space-background-image {
    position: absolute;
    z-index: -2;
}

h1 {
    padding: 20px 15px;
    font-size: var(--h1-size);
}

h2 {
    padding: 20px 20px;
    font-size: var(--h2-size);
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 20px;
    border-radius: 14px;
}

.profile-card p {
    color: #ffffff;
    margin-right: 3px;
    font-size: 18px;
}

#user-links a {
    text-decoration: none;
    padding-right: 15px;
    color: #ffffff;
    font-size: 24px;
}

.profile-card .avatar-header {
    width: 46px;
    height: 46px;
}

main a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    background-color: #453159;
    padding: 15px 20px;
    border-radius: 30px;
}

#section-list-wrapper, 
#categories-list-wrapper 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
    margin: 20px;
    background-color: #000000a6;
    border-radius: 15px;
}

#section-list-wrapper h2 {
    font-size: var(--h2-size);
}

#section-list-wrapper ul,
#categories-section-list-wrapper ul
{
    list-style-type: none;
}

#section-list-wrapper li,
#categories-section-list-wrapper li
{
    font-size: 30px;
    padding: 30px 25px;
    margin: 20px 0px;
    border-radius: 10px;
    background-color: #4e1b9266;
}

#section-list-wrapper li > a,
#categories-section-list-wrapper li > a {
    background-color: unset;
    font-size: inherit;
    padding: initial;
}

.return-btn-zone {
    margin: 30px 20px;
    width: fit-content;
}

.create-topic-wrapper,
.add-post-wrapper, 
.register-wrapper
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
    align-items: center;
}

.create-topic,
.add-post,
.register 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    border: none;
    border-radius: 10px;
    background-color: #000000a6;
}

form[name="create_topic"] div.form,
form[name="add_post"] div.form
{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 24px;
}

div.form > div {
    display: flex;
    flex-direction: column;
}

button#create_topic_submit,
button#add_post_submit 
{
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    background-color: #453159;
    color: #ffffff;
}

button#create_topic_submit:hover {
    cursor: pointer;
    background-color: #2e213b;
}

form[name="registration_form"] {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

form[name="registration_form"] div {
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 24px;
}

form[name="registration_form"] button {
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    background-color: #453159;
    color: #ffffff;
}

form[name="registration_form"] button:hover {
    cursor: pointer;
    background-color: #2e213b;
}

.topic {
    display: flex;
    flex-direction: column;
    margin: 50px 70px;
}

.topic-subject,
.topic-posts
{
    display: flex;
    flex-direction: column;
    padding: 20px 70px;
    border: none;
    border-radius: 15px;
    background-color: #000000a6;
    align-items: flex-start;
}

.topic-subject-top
.post-top
{
    font-size: 22px;
    padding: 20px 25px;
    background-color: #1b1f406e;
    border-radius: 10px;
}

.topic-subject-top p,
.post-top p
{
    margin-bottom: 15px;
}

.topic-subject-text,
.post-text
{
    font-size: 20px;
    margin: 60px 0px 30px 0px;
    padding: 20px;
    background-color: #3e1564ad;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.topic-avatar {
    width: 46px;
    height: 46px;
}

#actions-btns {
    padding: 20px 0px;
}

a.add-post-btn {
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    background-color: #231c44;
    color: #ffffff;
}

a.add-post-btn:hover {
    background-color: #453159;
}

.topic-posts-section {
    margin-top: 40px
}