{% extends 'base.html.twig' %}

{% block title %}Categories List{% endblock %}

{% block body %}

<div id="categories-list-wrapper">
    <h2>Categories List</h2>

    <div id="categories-section-list-wrapper">
        <ul>
            {% for category in categories %}
            <li><a href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
