{% extends 'base.html.twig' %}

{% block title %}Categories List{% endblock %}

{% block body %}
<div id="categories-list-wrapper">
    <h1>Categories List</h1>

    <div id="categories-section-list-wrapper">
        <ul>
            {% for category in categories %}
            <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
