{% extends 'base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block body %}

<div id="admin-list-wrapper">
    <h2>Admin Panel</h2>

    <div id="admin-section-list-wrapper">
        <ul>
            <li><a href="{{ path('category_list') }}">> Categories List</a></li>
            <li><a href="{{ path('topic_list') }}">> Topics List</a></li>
            <li><a href="">> Users List</a></li>
        </ul>
    </div>
</div>

{% endblock %}
